<main>

    <div class="container" id="center">
        <h5>Click on the Flashcard or Hit the Spacebar key to Reveal the Answer</h5>
        <div class="flashcard" id="card">
                <div class="front bg-primary"> 
                </div> 
                <div class="back">
                </div> 
        </div>
        <button class="btn btn-primary" onclick="subtract()" id="leftArrow"><i class="fas fa-arrow-left"></i></button>
        <button class="btn btn-primary" onclick = "add()" id ="rightArrow"><i class="fas fa-arrow-right"></i></button>
    </div>

</main>