<main>
    <div class="container" id="center">
        <div class="flashcard" id="card">
            <div class="front"> 
            </div> 
            <div class="back">
            </div> 
        </div>
        <button onclick="subtract()" id="leftArrow"><i class="fas fa-arrow-left"></i></button>
        <button onclick = "add()" id ="rightArrow"><i class="fas fa-arrow-right"></i></button>
    </div>

</main>