
    
    <div class="container-fluid center">
        <div class="flashcard" id="card">
                <div class="front bg-primary"> 
                </div> 
                <div class="back">
                </div> 
        </div>
        <button class="btn btn-primary btn-lg mr-3 px-5" onclick="subtract()" id="leftArrow"><i class="fas fa-arrow-left"></i></button>
        <button class="btn btn-primary btn-lg ml-3 px-5" onclick = "add()" id ="rightArrow"><i class="fas fa-arrow-right"></i></button>
    </div>

