<!-- <main>
    <div class="container-fluid">
        <form action="/flashcards/categories" method ="GET">
            <label>Filter Based on Topic:<label>
                <select name="category" id="select">
                </select>
            <button>Submit</button>
        </form>
    </div>
</main>    -->