<div class="footer sticky-bottom d-block">
    <p class="mb-0">Have suggestions on how to improve our page? Contact us at WebFlash@email.com</p>
    <div class="pb-3">
        <a href="https://github.com/avakrishn" class="right-border m-0">Avanika</a>
        <a href="https://github.com/lawrenceslng" class="right-border m-0">Lawrence</a>
        <a href="https://github.com/tian3401" class="m-0">Matt</a>
    </div>
</div>