<nav id = "sidebar">
        <div>
                <h3 id="welcome">Welcome <%= data[0].username %></h3>
                <ul class="list-unstyled components">
                <a class="nav-item nav-link" role="button" href="/profile">My Profile<span class="sr-only">(current)</span></a>
                
                
                <a class="nav-item nav-link" role="button" href="/flashcards/all_cards">Community Deck</a>
                
                <a class="nav-item nav-link" role="button" href="/flashcards/">My Cards</a>


                <a class="nav-item nav-link" role="button" href="/decks/<%= data[0].user_id %>">My Decks</a>

                <a class="nav-item nav-link" role="button" href="/flashcards/new_card">Create New Cards</a>

                <a class="nav-item nav-link" role="button" href="/construction">Connect With Other Users</a>

                <a class="nav-item nav-link" role="button" href="/FAQ"><img src="https://image.freepik.com/free-icon/question-mark-inside-a-box-outline_318-51427.jpg" width="100" height="100" title="Help" alt="Help Menu"></a>
                </ul>
        </div>
</nav>