<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% include ../partials/deck_header %>
	</header>
	
	<main>
		<div class="container-fluid">
				<form action="/flashcards/categories/community_cards" method ="POST" class="filterCards">
					<label>Filter Based on Topic:<label>
						<div class="checkboxes">
		
						</div>
					<button>Submit</button>
				</form>
		</div>
		<% include ../partials/card %>
		<form action="/flashcards/add_to_deck" method="POST" id='addCardDeck'>
			<% include ../partials/add_card_to_deck %>
			<input type="hidden" name ="cards_id" id="card_deck">
		<button>Submit</button>
		</form>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/script %>
	<script src = "/assets/javascript/create_new_card.js"></script>
	
	
</body>
</html>