<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <% include ../partials/filter %>
        <% include ../partials/card %>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/script %>
</body>
</html>