<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
	<!-- User Specific Deck -->
	<header>

		<% include ../partials/headerLoggedIn %>

	</header>
	
	<% include ../partials/navbar_sidebar%>
	<main>
		<% include ../partials/deck_header %>
		<% include ../partials/card %>
		<div class="container d-flex justify-content-center my-4 w-60" id='editDeck'>
				<a class="btn btn-warning mr-auto" href="/flashcards/new_card">Create & Add to this Deck</a> <br>
				<a class="btn btn-warning ml-auto" id="editLink">Edit this Deck</a>
		</div>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/script %>
</body>
</html>