<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>

			<% include ../partials/headerLoggedIn %>

		<% include ../partials/deck_header %>
	</header>
	

	<main>
		<% include ../partials/card %>
		<div class="container-fluid center" id='editDeck'>
				<a class="btn-btn-dark" href="/flashcards/new_card">Create New Cards to add to this deck</a> <br>
				<a class="btn-btn-dark" id="editLink">Edit this Deck</a>
		</div>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/script %>
</body>
</html>