<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
        </div>
        <div class="container">
            <form method = "POST" action="/flashcards/create">
                <input type="text" name="category" placeholder="Enter Category">
                <input type="text" name ="front" placeholder="Front of Card"> 
                <input type="text" name ="back" placeholder="Back of Card"> 
                <input type="text" name ="difficulty" placeholder="Easy, Medium, Hard"> 
                <button>Submit</button>
            </form>
        </div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>