<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>

	<main>
        <div class="container">
            <form method = "POST" action="/flashcards/create">
                <ul>
                    <li><label>Category:</label><input type="text" name="category" placeholder="Enter Category ex. HTML"></li>
                    <li><label>Question:</label><textarea type="text" name ="front" placeholder="Front of Card"></textarea></li>
                    <li><label>Answer:</label><textarea type="text" name ="back" placeholder="Back of Card"></textarea></li> 
                    <li><label>Select Difficulty:<label>
                        <select name="difficulty">
                            <option name="difficulty" value="Easy">Easy</option>
                            <option name="difficulty" value="Medium">Medium</option>
                            <option name="difficulty" value="Hard">Hard</option>
                        </select></li>
                        <li><label>Add this card to one of your decks:</label>
                            <select name="deck_id" class="deckOptions"> 
                            </select>
                        </li>
                    </ul>

                <button onsubmit= newCards>Submit</button>
            </form>
        </div>

	</main>

	<footer>
		<% include ../partials/footer %>
    </footer>
    <% include ../partials/script %>
    <script src = "/assets/javascript/create_new_card.js"></script>
    
</body>
</html>