<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
        </div>
        <div class="container">
            <form method = "POST" action="/flashcards/create">
                <li>Category: <input type="text" name="category" placeholder="Enter Category ex. HTML"></li>
                <li>Question: <input type="text" name ="front" placeholder="Front of Card"></li>
                <li>Answer: <input type="text" name ="back" placeholder="Back of Card"></li> 
                <li>Difficulty: <input type="text" name ="difficulty" placeholder="Easy, Medium, Hard"></li> 
                <button>Submit</button>
            </form>
        </div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>