<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>

	<main>
        <div class="container">
		<div class="row">
			<div class="col-2">
                <h2>SideBar</h2>
            </div>
        <div class = "col-10">
        <div>This is <%= data %>'s page</div>
        
            <div class="decks">
                    <% if(!Array.isArray(data) || !data.length) { %>
                        <p>You have no decks</p>
                    <% } else{ %>
                        <p>You have decks</p>
                    <% } %>
                <form method = "POST" action="/decks/create">
                    <input type="text" name="name" placeholder="Enter Name of Deck">
                    <button>Submit</button>
                </form>
            </div>
            <div><i class="fas fa-arrow-left"></i></div>
            <div><i class="fas fa-arrow-right"></i> </div>
        </div>
    </div>
        </div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>