<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>

	<main>

        
		<!-- <div class="row"> -->
            <% include ../partials/SideBar %>
			
        <!-- <div class = "col-10"> -->
        <!-- <div>This is <%= data %>'s page</div> -->
        
        <div class = "content">
            <div class="decks">
                <form method = "POST" action="/decks/create">
                    <input type="text" name="name" placeholder="Enter Name of Deck">
                    <input type="submit" value="submit">
                </form>
            </div>
            <h2>View Your Deck Details</h2>
            <div class="viewer">
                <form method = "GET" action="/decks/viewer">
                <button type="submit" value="submit">View</button></form>
            </div>
            <h2>List of Decks</h2>
            <ul class="deckHolder">
            </ul>
        </div>
        <!-- </div> -->
    <!-- </div> -->
        

	</main>

	<!-- <footer>
		<% include ../partials/footer %>
	</footer> -->
	<% include ../partials/script %>
</body>
</html>