<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>
        <% include ../partials/navbar_sidebar%>
	<main>
        
		<!-- <div class="row"> -->
    
            <!-- <div class = "col-10"> -->
                <h1>Common FAQ Questions Found here!</h1>
                <hr>
                <h6>What is Web Dev Flashcards about?</h6>
                <span>Web Dev Flashcards is a study tool aimed to help novice and advanced web developers alike! Flashcards are used to highlight the concepts of front-end and back-end technologies used in web development. Users can quiz themselves on these flashcards and create specific decks on topics they are interested in.</span>
                <h6>What topics/technologies do these flashcards covers?</h6>
                <span>We cover the majority of topics relevant to current trends in the industry. You will find general topic categories such as HTML and CSS all the way to specific knowledge like popular NPM packages and templating framework like EJS. Whatever your comfort level, we have the knowledge you need to succeed!</span>
                <h6>Is there a subscription or membership fee?</h6>
                <span>Web Dev Flashcards is meant to be a community driven, open-source project. We want everyone to be able to access this knowledge. So just sign up for an account and start learning! No subscription or membership fee needed!</span>
                <h6>How can I give back to the community?</h6>
                <span>Currently, only contributor-level users are allowed to add to the community flashcard deck. If you wish to be a contributor and are knowledgeable in a specific area of web development, contact us at WebDev@email.com to request to be a contributor. In the future, we hope to include a rating and comment system so that all users can contribute to the knowledge base.</span>
            <!-- </div> -->
        <!-- </div> -->
            
    
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"     integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"     crossorigin="anonymous"></script> -->
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script> -->
        <% include ../partials/script %>
        
        
    </body>
</html>	