<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>

	<main>
        <h5>This is an invalid deck.</h5>
        <h5> <a href="/home">Choose Another Deck</a></h5>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>