<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

	<header>
		<% include ../partials/headerLoggedIn %>
	</header>

	<main>
        
		<div class="row">
            <% include ../partials/SideBar %>
			
        <div class = "col-10">
        <form method="POST" action="/update">
                <label for="username"><b>Username</b></label>
                <input type="text" name="username" value="<%=data.username%>" disabled>
                <br>
                <label for="first_name"><b>First Name</b></label>
                <input type="text" name="first_name" value="<%=data.firstName%>" disabled>
                <br>
                <label for="last_name"><b>Last Name</b></label>
                <input type="text" name="last_name" value="<%=data.lastName%>" disabled>
                <br>
               
                <label for="email"><b>Email</b></label>
                <input type="email" name="email" value="<%=data.email%>" required>
                <br>
                <button type="submit" formaction="/updateEmail">Update Email Address</button>
            
                <br>
                <button>Reset Password</button> 
                <h6>Insert a short biography to tell other users who you are:</h6>
                <textarea name="biography" rows="5" cols="60">
                        
                </textarea>
    
        </form>
        


        </div>
    </div>
        

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>